@use "../utilities/variables" as *;

@mixin flex ($dir, $wrap, $jc, $ai, $gap) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin back($size) {
    font-size: $size;
    background-color: $bgcLetras;
    padding: 10px;
    border-radius: 10px;
}

@mixin tablet {
    @media (min-width: 481px) and (max-width: 770px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 300px) and (max-width: 480px) {
        @content;
    }
}