@use "../utilities/variables" as *;
@use "../utilities/mixins" as m;

footer{
    padding: 10px;
    section{
        text-align: center;
        color: white;
        @include m.flex(row, nowrap, space-around, center, 0px);
        h3{
            span{
                font-weight: bold;
                font-family: "sekuya";
                background-color: $bgcLiHover;
                border-radius: 15px;
                padding: 0px 10px;
                color: black;
            }
        }
        .redes{
            a img{
                height: auto;
                width: 45px;
                margin: 0px 15px;
                &:hover{
                    transition: all ease 0.3s;
                    scale: 1.3;
                }
            }
        }
    }
    @include m.tablet{
        section{
            @include m.flex(column, nowrap, center, center, 0px);
            .redes{
                margin-top: 15px;
            }
        }
    }

    @include m.mobile{
        section{
            @include m.flex(column, nowrap, center, center, 0px);
            h3{
                font-size: 20px;
            }
            .redes{
                margin-top: 15px;
                a img{
                    margin: 0px 5px;
                }
            }
        }
    }
}