@use "../utilities/variables" as *;
@use "../utilities/mixins" as m;

.mainHistoria{
    color: white;
    padding: 20px;
    overflow-x: hidden;
    .introduccion{
        text-align: center;
        h1{
            @include m.title();
            span{
                @include m.spanTitle();
            }
        }
        h2{
            @include m.back(45px);
            margin: 20px 0px;
            &:hover {
                box-shadow: 0 4px 25px $bgcLiHover;
            }
        }
        p{
            @include m.back(30px);
            &:hover {
                box-shadow: 0 4px 25px $bgcLiHover;
            }
        }
    }

    .cards-historia{
        @include m.back(20px);
        margin-bottom: 25px;
        &:hover {
            box-shadow: 0 4px 25px $bgcLiHover;
        }
        h3{
            text-align: center;
            font-size: 45px;
            margin: 20px;
            font-weight: bolder;
        }
        .text-img{
            @include m.flex(row, nowrap, center, center, 30px);
            .text{
                p{
                    font-size: 35px;
                    margin-left: 15px;
                }
                ul{
                    li{
                        font-size: 25px
                    }
                }
            }
            
            .inicios, .dorada, .oscura, .actual{
                @include m.imgHistoria();
            }
        }
    }
    .legado{
        text-align: center;
        @include m.back(30px);
        &:hover {
            box-shadow: 0 4px 25px $bgcLiHover;
        }
    }

    // RESPONSIVE TABLET
    @include m.tablet{
        .introduccion{
            margin-bottom: 30px;
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }
        }

        .cards-historia{
            h3{
                font-size: 30px;
                margin: 20px;
            }
            .text-img{
                @include m.flex(column, nowrap, center, center, 10px);

                .text{
                    p{
                        font-size: 25px;
                        margin-left: 15px;
                    }
                    ul{
                        li{
                            font-size: 20px;
                        }
                    }
                }
                
                .inicios, .dorada, .oscura, .actual{
                    @include m.imgHistoria();
                }
            }
        }

        .legado{
            font-size: 27px;
        }
    }

    // RESPONSIVE MOBILE
    @include m.mobile{
        .introduccion{
            margin-bottom: 30px;
            h1{
                font-size: 33px;
            }
            h2{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }

        .cards-historia{
            h3{
                font-size: 20px;
                margin: 20px;
            }
            .text-img{
                @include m.flex(column, nowrap, center, center, 10px);
                .text{
                    p{
                        font-size: 20px;
                        margin-left: 15px;
                    }
                    ul{
                        li{
                            font-size: 15px;
                        }
                    }
                }
                .inicios, .dorada, .oscura, .actual{
                    @include m.imgHistoria();
                }
            }
        }

        .legado{
            font-size: 23px;
        }
    }
}